body {
    color: #ffffff00;
    overflow-x: hidden;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
}

.card0 {
    width: 94%;
}

.card1 {
    border-width: 2px;
    border-color: silver;
    padding: 30px 20px 30px 50px;
    height: 500px;
}

.card2 {
    background-color: #1017477b;
    padding: 0px 0px 40px 40px;
    height: 500px;
}

.line {
    height: 1px;
    background-color: #B0BEC5;
}


.q {
    padding-bottom: 50px;
    padding-top: 50px;
}
